{{> head }}

{{> navbar }}
<div class="row .bg-light .p-*">
   <div class="col-8">
       <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempora quia accusantium dolor ipsa, beatae harum illum molestiae et, error officiis. Nam alias voluptate quam deserunt aperiam excepturi autem perspiciatis!</h1>
   </div>
   <div class="col-4">
       <img src="assets/img/img1.jpg" class="img-thumbnail">
   </div>
</div>
{{> footer }}