{{> head }}

{{> navbar }}
<div class="row .bg-light .p-*">
    <h1>Hola {{ capitalizar nombre}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente nam fugiat soluta minima recusandae excepturi porro eaque totam, cupiditate, illum possimus ea commodi, libero consequatur? Laudantium soluta facere repellat.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, molestiae doloremque! Tenetur architecto ducimus quas, hic, quia amet temporibus voluptatem placeat modi officiis provident, quaerat sunt aliquam possimus error ad?</p>
    <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">learn more</a>
    </p>
</div>
{{> footer }}